* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.game {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF )
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.3s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    }

.jump {
    animation: jump 500ms infinite ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 16s infinite linear;
}

main {
    position: relative;
    color: #87CEEB;
}

h1 {
    text-shadow: 4px 2px 4px #87CEEB;
    text-transform: uppercase;
}

.midias-sociais {
    margin-top: 60px;
}





@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 190px;
    }

    50% {
        bottom: 190px;
    }

    60% {
        bottom: 190px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}